body{

margin:0;

font-family:"Noto Sans Thai";

background:#f0fdf4;

}



.health-admin-header{

background:#166534;

color:white;

text-align:center;

padding:35px;

}



.summary{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

padding:30px;

}




.card{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:0 5px 15px #0002;

}



.card h1{

font-size:45px;

color:#166534;

}




.form-box,
.table-box{

background:white;

margin:30px;

padding:30px;

border-radius:20px;

}




input,
select{

padding:12px;

margin:5px;

border-radius:10px;

border:1px solid #ddd;

}




button{

background:#166534;

color:white;

padding:12px 25px;

border:none;

border-radius:10px;

}




table{

width:100%;

border-collapse:collapse;

}



th{

background:#166534;

color:white;

}



td,th{

padding:12px;

border:1px solid #ddd;

text-align:center;

}
