.card{
    background:#fff;
    border-radius:15px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.profile{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
}

.news-card,
.activity-card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    margin-bottom:15px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}
