body{

margin:0;
font-family:Tahoma,sans-serif;
background:#f1f8e9;

}


.top{

background:#2e7d32;
color:white;
padding:25px;
text-align:center;

}


.dashboard{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

padding:25px;

}



.card{

background:white;
border-radius:15px;
padding:20px;
text-align:center;

box-shadow:
0 4px 10px rgba(0,0,0,.1);

}



.card p{

font-size:40px;
font-weight:bold;
color:#2e7d32;

}



.menu{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(160px,1fr));

gap:15px;

padding:20px;

}



.menu a{

background:#388e3c;

color:white;

padding:20px;

border-radius:12px;

text-align:center;

text-decoration:none;

}



.news{

background:white;

margin:20px;

padding:20px;

border-radius:15px;

}



@media(max-width:600px){

.top h1{

font-size:22px;

}

}
