.dashboard-header{

background:#166534;
color:white;
padding:30px;
text-align:center;

}


.dashboard-container{

display:grid;
grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

padding:30px;

}


.card{

background:white;

border-radius:18px;

padding:25px;

text-align:center;

box-shadow:0 5px 15px #0002;

}


.card h3{

font-size:20px;

}


.card p{

font-size:45px;

font-weight:bold;

color:#166534;

margin:10px;

}



.summary{

margin:30px;

padding:25px;

background:#f0fdf4;

border-radius:20px;

}



footer{

text-align:center;

padding:20px;

}
