body{

margin:0;

font-family:"Noto Sans Thai";

background:#f0fdf4;

}



.map-header{

background:#166534;

color:white;

text-align:center;

padding:30px;

}



#map{

height:70vh;

width:100%;

}



.legend{

background:white;

margin:20px;

padding:20px;

border-radius:20px;

box-shadow:0 5px 15px #0002;

}
