body{

margin:0;

font-family:"Noto Sans Thai";

background:#f0fdf4;

}



.oporor-header{

background:#991b1b;

color:white;

text-align:center;

padding:35px;

}



.search-box{

padding:30px;

text-align:center;

}



.search-box input{

width:80%;

max-width:500px;

padding:15px;

border-radius:15px;

border:1px solid #ddd;

}



.oporor-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:20px;

padding:30px;

}



.oporor-card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 5px 15px #0002;

}



.oporor-card h3{

color:#991b1b;

}
