body{

font-family:"Noto Sans Thai";

background:#f0fdf4;

margin:0;

}



.report-header{

background:#166534;

color:white;

padding:35px;

text-align:center;

}



.report-box{

background:white;

margin:25px;

padding:30px;

border-radius:20px;

box-shadow:0 5px 15px #0002;

}



.report-box h2{

color:#166534;

}



button{

margin:30px;

padding:15px 30px;

background:#166534;

color:white;

border:none;

border-radius:10px;

font-size:18px;

}
