*{
box-sizing:border-box;
}

body{

margin:0;
font-family:Tahoma, sans-serif;
background:#f4f8f6;
color:#333;

}


.hero{

background:#00695c;
color:white;
text-align:center;
padding:30px 20px;

}


.logo{

width:130px;
height:130px;
object-fit:contain;

}


.hero h1{

font-size:32px;
margin:15px 0;

}


.hero p{

font-size:18px;

}



.cover{

text-align:center;
background:white;
margin:20px;
padding:20px;
border-radius:20px;
box-shadow:0 5px 15px #ccc;

}


.cover img{

width:100%;
max-height:400px;
object-fit:cover;
border-radius:15px;

}


.cover h2{

color:#00695c;

}



.menu{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(140px,1fr));

gap:15px;

padding:20px;

}



.menu a{

background:white;
text-decoration:none;
color:#00695c;
text-align:center;

padding:25px 10px;

border-radius:20px;

font-size:18px;

box-shadow:0 5px 12px #ddd;

transition:.3s;

}



.menu a:hover{

transform:translateY(-5px);

background:#e8f5e9;

}



.info{

padding:20px;
text-align:center;

}


.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(150px,1fr));

gap:15px;

}


.cards div{

background:white;

padding:25px;

border-radius:20px;

font-size:20px;

box-shadow:0 5px 12px #ddd;

}



.contact{

background:white;

margin:20px;

padding:20px;

border-radius:20px;

text-align:center;

}



footer{

background:#00695c;

color:white;

text-align:center;

padding:20px;

margin-top:30px;

}



@media(max-width:600px){


.hero h1{

font-size:24px;

}


.hero p{

font-size:15px;

}


.logo{

width:100px;
height:100px;

}


.menu a{

font-size:16px;

}


}
