body{

margin:0;

font-family:sans-serif;

background:#eef7f5;

}


header{

background:#00695c;

color:white;

text-align:center;

padding:20px;

}



.container{

padding:20px;

}



.ai{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

font-size:20px;

}



.menu{

display:grid;

grid-template-columns:

repeat(2,1fr);

gap:15px;

margin-top:20px;

}



.menu a{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

font-size:35px;

text-decoration:none;

color:#333;

}



.menu span{

display:block;

font-size:18px;

}



.alert{

background:white;

padding:20px;

border-radius:20px;

margin-top:20px;

text-align:center;

}



button{

background:#c62828;

color:white;

padding:15px;

border:0;

border-radius:15px;

width:90%;

}



nav{

position:fixed;

bottom:0;

width:100%;

background:white;

display:flex;

justify-content:space-around;

padding:10px 0;

}



nav a{

text-align:center;

font-size:14px;

}
