/* ==========================
   Rongkhem Smart Village
   Home Page Style
========================== */


* {
    box-sizing: border-box;
}


body {

    margin:0;

    font-family:
    "Tahoma",
    "Noto Sans Thai",
    sans-serif;

    background:#f2f8f1;

    color:#333;

    line-height:1.7;

}




/* Header */

header {

    background:
    linear-gradient(
    135deg,
    #1b5e20,
    #66bb6a
    );

    color:white;

    text-align:center;

    padding:45px 20px;

}



.logo {

    width:130px;

    height:130px;

    object-fit:contain;

    background:white;

    border-radius:50%;

    padding:8px;

}



header h1 {

    font-size:38px;

    margin:15px 0;

}



header p {

    font-size:18px;

}





/* Menu */

nav {

    background:#145214;

    text-align:center;

    padding:15px;

    position:sticky;

    top:0;

    z-index:100;

}



nav a {

    color:white;

    text-decoration:none;

    margin:0 12px;

    font-weight:bold;

}



nav a:hover {

    color:#ffeb3b;

}





/* Hero */

.hero {

    max-width:1100px;

    margin:30px auto;

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 5px 15px rgba(0,0,0,.15);

}



.hero img {

    width:100%;

    max-height:450px;

    object-fit:cover;

    border-radius:20px;

}



.hero h2 {

    color:#1b5e20;

    font-size:30px;

}







/* Section */

section {

    max-width:1100px;

    margin:auto;

    padding:25px;

}



section h2 {

    color:#1b5e20;

    border-left:

    8px solid #66bb6a;

    padding-left:15px;

}






/* Vision */

.vision {

    background:white;

    border-radius:20px;

    text-align:center;

    box-shadow:
    0 5px 15px rgba(0,0,0,.15);

}



.vision h3 {

    color:#2e7d32;

    font-size:32px;

}







/* Card */

.card {

    background:white;

    padding:25px;

    border-radius:18px;

    box-shadow:

    0 4px 12px rgba(0,0,0,.12);

    margin:15px 0;

}




.card h3 {

    color:#2e7d32;

}





/* Grid */

.grid {

    display:grid;

    grid-template-columns:

    repeat(
    auto-fit,
    minmax(250px,1fr)
    );

    gap:20px;

}





/* Contact */

.contact a {

    color:#1b5e20;

    font-weight:bold;

}






/* Footer */

footer {

    background:#145214;

    color:white;

    text-align:center;

    padding:25px;

    margin-top:30px;

}





/* Mobile */

@media(max-width:700px){


header h1 {

    font-size:28px;

}



nav a {

    display:block;

    padding:8px;

}



.hero h2 {

    font-size:24px;

}



section {

    padding:15px;

}


}
