*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Tahoma,sans-serif;

}



.hero{


height:100vh;


background:

linear-gradient(

rgba(0,80,0,0.55),

rgba(0,0,0,0.55)

),

url("images/subnamjam-cover.jpg");



background-size:cover;


background-position:center;



display:flex;


align-items:center;


justify-content:center;



text-align:center;


color:white;


}



.content{


padding:20px;


}



h1{

font-size:45px;

}



h2{

font-size:25px;

}



p{

font-size:22px;

}



a{


display:inline-block;


margin-top:20px;


padding:15px 35px;


background:#2e7d32;


color:white;


text-decoration:none;


border-radius:30px;


}



@media(max-width:600px){


h1{

font-size:30px;

}


h2{

font-size:20px;

}


}
